body{
    background-color: black;
    display: grid;
    margin: 0;
    height: 100vh;

}
h1{
    color: blue;

}

h1 > .effect{
    animation: background-an 3s linear infinite;
    background: linear-gradient(to right,
    var(--red),
    var(--green),
    var(--blue),
    var(--red)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

:root{
    --green: #13d440;
    --red: #e61d1d;
    --blue: #1879e8;
}

@keyframes background-an {
    from{
        background-position: 0% center;
    }
    to{
        background-position: -200% center;
    }
}

#trailer{
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 20px;

    position: fixed;
    left: 0;
    right: 0;
    z-index: 10000;

    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
}

body.hover > #trailer{
    opacity: 1;
}